# **1. Python Output**

In [ ]:
# Python is a case sensitive language
# In this black color is called shell....1st code takes some time to run
# Inverted comma tells about string and number

print('Hello World')

Hello World

In [ ]:
print('Bijay Rauniyar')

Bijay Rauniyar

In [ ]:
print(7)

7

In [ ]:
print(7.7)

7.7

In [ ]:
print(True)

True

In [ ]:
print('Hello', 1, 4.5, True)

Hello 1 4.5 True

In [ ]:
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
# Default behaviour of sep=' '        --> We can change accordingly
print('Hello', 1, 4.5, True, sep='/')

Hello/1/4.5/True

In [ ]:
print('Hello')
print('World')

Hello
World

In [ ]:
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
# Default behaviour of end='\n'        --> We can change accordingly
print('Hello', end='-')
print('World')

Hello-World

# **2. Data Types**

In [ ]:
# Integer -- Positive and Negative Both
print(8)

# 1 * 10^308
print(1e308)

8
1e+308

In [ ]:
#Decimal/Float
print(8.55)

# Max handle in Decimal/Float Values
print(1.7e308)

8.55
1.7e+308

In [ ]:
# Boolean - True/False (Used for Logic Building)
print(True)
print(False)

True
False

In [ ]:
# Text/String (Note: There is no char in Python)
print('Hello World')

Hello World

In [ ]:
# Complex
print(5+6j)

(5+6j)

In [ ]:
# List -> C -> Array Here List in Python
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
# Tuple   (-> Sibling Called "Tuple")
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
# Dictionary -> Same as Sets but It is in Pairs (Keys & Values)
print({'Name':'Bijay', 'Gender':'Male', 'Age':22})

{'Name': 'Bijay', 'Gender': 'Male', 'Age': 22}

In [ ]:
# ***** type-> It tells aboiut which type of data is used
type(2)
type(3.5)
type(3+6j)
type((1,2,3,4,5))
type({1,2,3,4,5})
type([1,2,3,4,5])
type({'Name':'Bijay'})

dict

# **3. Variables**

In [ ]:
# Variables are containers where we store any information
# They are containers for future use

# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# Stylish Declaration Techniques

In [ ]:
# C/C++
# Note: In Python, we don't have to tell about data types for declaring variables
# X int name = 'BIJAY' X
name = 'Bijay'

a=5
b=6

print(name)
print(a + b)

Bijay
11

In [42]:
# Interview Question
# Dynammic Typing
# We don't have to declare data types--> Interpreter is that much intelligent in
# Python It detect from the numbers & Values ownslef
# That's called Dynamic Typing
# Python Supports - Dynamic Typing
# C/C++ - Supports Static Typing

a = 5
b = 7
print(a + b)

12

In [43]:
# Dynamic Binding
# There is no fixed data types in Python
# That is called Dynamic Binding
a = 5
print(a)

a = 'Bijay'
print(a)

5
Bijay

In [41]:
# Static Binding
# C/C++/Java supports Static Binding
# Once you declare the value you can't change

# Example:
# int a = 5;
# printf(a)

# Next time you can't change the value of a like
# string a = 'Bijay'
# print(a)

# This can't be allowed

In [50]:
# Stylish Declaration Techniques (This is not --> Below one is the answer)
a = 1
b = 2
c = 3
print(a , b , c)

1 2 3

In [51]:
# Stylish Declaration Techniques
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [49]:
# Stylish Declaration Techniques
a=b=c=5
print(a,b,c)

5 5 5

In [52]:
# Code Snippet -> 2-3 lines of code

# Comments

In [55]:
# Python Interpreter Ignores the comment
# It is useful for knowing what you have written in Code
# Must use in comments
a = 5
b = 6

print(a + b)

11

# **4. Keywords & Identifiers**

In [58]:
# Compilation means where you convert your code into binary numbers
# It can be done by compiler & Interpreter

In [59]:
# Keywords
# In python - 32 Keywords
# Don't use these keywords as variable
# Conflict occurs

In [62]:
# Identifiers
# Rule 1: You can start with digit
name1 = 'Bijay'
print(name)

# Rule 2: You can use upper case, lower case & in special character you can use only ( Underscore _ )
_ = 'Bijay'
print(_)

# Rule 3: Identifiers can't be keyword
# else = 'Bijay'
# print(else)

Bijay
Bijay

# **5. User Input**

In [ ]:
# There are only Static Software &  Dynamic Software
# Static S/w ; seeing calender, watch, only information but you can't interact
# Dynamic s/w ; User talk, take input, booking a cab, watching youtube

In [67]:
# built-in function
input('Enter Email ')

Enter Email bijayrauniyar90@gmail.com

'bijayrauniyar90@gmail.com'

In [72]:
# take input from user and store them in a variable
fnum = input('Enter first numbers ')
snum = input('Enter second number ')
print(type(fnum), type(snum))

# Universal data format is String so string type is there

# add the 2 variables
result = fnum + snum

# print the result
print(result)

Enter first numbers 45
Enter second number 54
<class 'str'> <class 'str'>
4554

In [88]:
# take input from user and store them in a variable
fnum = input('Enter first numbers ')
snum = input('Enter second number ')
print(type(fnum), type(snum))

# Universal data format is String so string type is there

# add the 2 variables
# Data type conversion
result = int(fnum) + int(snum)
# print the result
print(result)
print(type(fnum))

Enter first numbers 32
Enter second number 33
<class 'str'> <class 'str'>
65
<class 'str'>

In [89]:
# take input from user and store them in a variable
fnum = int(input('Enter first numbers '))
snum = int(input('Enter second number '))
print(type(fnum), type(snum))

# add the 2 variables
result = fnum + snum

# print the result
print(result)
print(type(fnum))

Enter first numbers 45
Enter second number 55
<class 'int'> <class 'int'>
100
<class 'int'>

# **6. Type Conversion**

In [74]:
# Implicit Vs Explicit

#Imlicit Example --> Automatically done by Interpreter.
# Programmer don't have to write the code
# There is one int and another one is float-->
# It doesn't work but python is enough intelligent so it write without any error
print(5 + 5.6)
print(type(5), type(5.6))

10.6
<class 'int'> <class 'float'>

In [85]:
# Explicit Type Conversion
# Explict is done by requestion by programmer to python
# for changing the data types

# Explicit
# str -> int
type(int('45'))

# type(int(4+6j)) --> Complex number can't be type conversed because it can loss the information
# Python can't allow information loss


# int to str
str(5)

# float
float(4)

4.0

In [ ]:
# Note ----- Important
# Type conversion can't be applied on original value
# During type conversion it is applied on new value
# It assumes as new so previous data type can't be changed

# from one data type to another data type
# Original will remain same
# Perform action on new data type only

# **7. Literals**

In [96]:
# Value is the literals
# Binary Literals
a = 0b1010
print(a)

# Decimal Literals
b = 100
print(b)

# Octal Literals
c = 0o310
print(c)

# Hexadecimal Literals
d = 0x12c
print(d)

# Float Literals
float_1 = 10.5
print(float_1)

float_2 = 1.5e2 # 1.5 * 10^2
print(float_2)

float_3 = 1.5e-3 # 1.5 * 10^-3
print(float_3)

# Complex Literals
x = 3.14j
print(x.real, x.imag)

10
100
200
300
10.5
150.0
0.0015
0.0 3.14

In [97]:
# String Literals
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code"""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code
😀😆🤣
raw \n string

In [99]:
# Boolean Literals
# True will take 1 value
# False will take 0 value
a = True + 4
b = False + 10

print("a:",a)
print("b:", b)

a: 5
b: 10

In [101]:
# None Literals
# None is used for future so I can't show error
# It's used for logic building
a = None
print(a)

None

In [102]:
# In type casting permanent changes occurs and
# In type conversion temporary changes occurs