### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
# Code here
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [1]:
# Code here

n = int(input('Enter n: '))

result = 0
fact = 1

for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact

print(result)

Enter n: 5
2.708333333333333

# Nested Loops

In [ ]:
# Examples -> unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*** <br>
**** <br>
***<br>

In [11]:
# code here

row = int(input('Enter number of rows: '))

for i in range(1, row+1):
  for j in range(1, i+1):
    print('*', end=' ')
  print()

Enter number of rows: 5
*
* *
* * *
* * * *
* * * * *

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [15]:
# Code here
row = int(input('Enter the row: '))

for i in range(1, row+1):
  for j in range(1, i+1):
    print(j, end=' ')
  for k in range(i-1, 0, -1):
    print(k, end=' ')

  print()

Enter the row: 5
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

# Loop Control Statement

- Break
- Continue
- Pass

In [20]:
# break
for i in range(1,10):
  if i==5:
    break
  print(i)

1
2
3
4

In [29]:
# break
# prime number - divible by 1 & itself
lower = int(input('Enter lower range: '))
upper = int(input('Enter upper range: '))

for i in range(lower, upper+1):
  for j in range(2, i):
    if i%j==0:
      break
  # Here we use else with for loop
  # It is allowed in python
  else:

    print(i)

Enter lower range: 10
Enter upper range: 100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [30]:
# Continue
# current iteration will be skipped
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [36]:
# lower = int(input('Enter the lower number: '))
# upper = int(input('Enter the upper number: '))
# for i in range(lower, upper+1):
#   for j in range(1, i+1):
#     if(j%2==0):
#       continue
#   else:
#     print(i)

In [31]:
# Have no idea How to write logic
# Write simple pass
# Write logic in future

for i in range(1,10):
  pass

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [41]:
# In General, String is a collection of characters
# In Python specifically, strings are a sequence of Unicode Characters
# Creating Strings
# screnerio handling

s = 'hello'
s = "hello"

# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [40]:
# 'It's raining outside' - It will not interpret
"It's raining outside"

"It's raining outside"

## Accessing Substrings from a String

In [49]:
# Positive Indexing
# left to right
s = 'hello world'
print(s[1])

# s = 'hello world'
# print(s[41])

# --> It will shows error - because out of index

e

In [48]:
# Negative Indexing
# right to left
# start from -1
s = 'hello world'
print(s[-5])

w

In [59]:
# Slicing
# Extracting substring from string
s = 'hello world'
print(s[0:5])
print(s[4:7])
print(s[2:3])
print(s[2:]) # [2:#] -> for print till end
print(s[:2])
print(s[:])

# step size
# lower range -> upper range -> step size/jump
#      0              6             2
print(s[0:6:2])

# for printing in reverse
print(s[6:0:-1])

hello
o w
l
llo world
he
hello world
hlo
w olle

In [63]:
s = 'hello world'
print(s[6:0:-2])

wol

In [62]:
# for reversing the string
print(s[::-1])

dlrow olleh

In [65]:
# slicing with negative indexing
s = 'hello world'

# world
print(s[-5:-1])
# output-> worl -> It will not print world

# for printing world
print(s[-5:])

# for reversing world
print(s[-1:-6:-1])

worl
world
dlrow

## Editing and Deleting in Strings

In [68]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable -> Does't change
# Once it made, It cannot be changed

TypeError: 'str' object does not support item assignment

In [69]:
# It'll not print anything because string s has been deleted
# Actually it's not delete -> for memory level
# further we'll learn more about it
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

In [70]:
s = 'hello world'
del s[-1:-5:2]
# Immutable - Python string doesn't allow you to change
# Error
print(s)

TypeError: 'str' object does not support item deletion

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [72]:
# + is used for concatination  string
print('delhi' + 'mumbai')
print('delhi' + ' ' + 'mumbai')

delhimumbai
delhi mumbai

In [73]:
print('aang'*5)

aangaangaangaangaang

In [85]:
# mostly used to generate pattern
# for string format
print('*'*50)

**************************************************

In [84]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [83]:
print('delhi' == 'delhi')

True

In [82]:
'delhi' != 'delhi'

False

In [76]:
'mumbai' > 'pune'

# ASCII value -> m > p --> false
# lexiographically

False

In [77]:
# 80 > 112
'Pune' > 'pune'

False

In [81]:
# If in string there is character then that is true
# If it's empty then false
'hello' and 'world'

'world'

In [80]:
'hello' or 'world'

'hello'

In [79]:
'' and 'world'

''

In [ ]:
'' or 'world'

'world'

In [ ]:
'hello' or 'world'

'hello'

In [ ]:
'hello' and 'world'

'world'

In [86]:
not ''

True

In [ ]:
not 'hello'

False

In [87]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [91]:
for i in 'delhi':
# loop will run how much character is there--> will give output accordingly
  print('Pune')

Pune
Pune
Pune
Pune
Pune

In [90]:
'D' in 'Delhi'

True

In [92]:
'd' in 'Delhi'

False

## Common Functions
- len
- max
- min
- sorted

In [95]:
# string is data type
# most useful
# ***********

len('hello world')

11

In [97]:
# max value will be extracted on the basis of ASCII
max('hello world')

'w'

In [98]:
min('hello world')

' '

In [100]:
sorted('hello world')
# Output will be in sorted list

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [101]:
sorted('hello world', reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Capitalize/Title/Upper/Lower/Swapcase

In [21]:
# Only works to strings
# Behaviour of strings
# character of 1st sentence will be in Capital

s = 'hello world'
s.capitalize()

'Hello world'

In [22]:
# character of every word will be in Capital
s.title()

'Hello World'

In [23]:
s.upper()

'HELLO WORLD'

In [24]:
'Hello Wolrd'.lower()

'hello wolrd'

In [19]:
'HeLlO WorLD'.swapcase()

'hElLo wORld'

## Count/Find/Index

In [42]:
# frequency count of string 
'my name is aang'.count('a')

3

In [43]:
'my name is Aang'.find('is')

8

In [46]:
# here -1 means it doesn't exist
'my name is Aang'.find('x')

-1

In [47]:
'my name is aang'.index('is')

8

Difference between find & index
In find, if that substring is not present in string then it'll show -1
In index, if that substring is not present in string then it'll show error

In [48]:
'my name is aang'.index('x')

ValueError: substring not found

## endswith/startswith

In [54]:
'my name is aang'.endswith('ng')

True

In [53]:
'my name is aang'.endswith('sh0')

False

In [55]:
'my name is aang'.startswith('my')

True

In [56]:
'my name is aang'.startswith('1my')

False

## format

In [58]:
name = 'Bijay'
gender = 'male'

# automatically assign the values a/c to index
'Hi my name is {} and I am a {}'.format(name, gender)

'Hi my name is Bijay and I am a male'

In [60]:
name = 'Bijay'
gender = 'male'

# we can also assign a/c to indexing
'Hi my name is {0} and I am a {1}'.format(name, gender)

'Hi my name is Bijay and I am a male'

## isalnum/ isalpha/ isdigit/ isidentifier

In [ ]:
'nitish1234%'.isalnum()

False

In [ ]:
'nitish'.isalpha()

True

In [ ]:
'123abc'.isdigit()

False

In [ ]:
'first-name'.isidentifier()

False

## Split/Join

In [ ]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

In [ ]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

## Replace

In [ ]:
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')

'hi my name is nitish'

## Strip

In [93]:
'nitish'.strip()

'nitish'

## Example Programs

In [ ]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

enter the stringnitish
length of string is 6

In [ ]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

enter the emailsupport@campusx.in
support

In [ ]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

enter the emailhi how are you
what would like to search foro
frequency 2

In [ ]:
# Write a program which can remove a particular character from a string.
s = input('enter the string')
term = input('what would like to remove')

result = ''

for i in s:
  if i != term:
    result = result + i

print(result)

enter the stringnitish
what would like to removei
ntsh

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

enter the stringpython
Not a Palindrome

In [ ]:
# Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

enter the stringhi how are you
['hi', 'how', 'are', 'you']

In [ ]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the stringhi my namE iS NitiSh
Hi My Name Is Nitish

In [ ]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

enter the number345
345
<class 'str'>