# Operators in Python

* Arithemetic Operators
* Relational Operators
* Logical Operators
* Bitwise Operators
* Assignmemnt Operators
* Membership Operators

# Arithemetic Operators

In [ ]:
# Arithemetic Operators
print(5 + 6)

print(5 - 6)

print(5 * 6)

print(5 / 2)

# It will give integer value only
print(5 // 2)

# modulus operator - It will give remainder
print(5 % 2)

# Power of operator
# 5^2
print(5 ** 2)

11
-1
30
2.5
2
1
25

# Relational Operators

In [ ]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

# Logical Operators

In [ ]:
# Logocal Operators

print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

# Bitwise Operators

In [ ]:
# Bitwise Operators
# Bitwise AND , OR, NOR, XOR, LShift, RShift

# Bitwise and
# 2 -> 010
# 3 -> 011
#     ------
#      010
#      =2
print(2 & 3)

# Bitwise or
print(2 | 3)

# Bitwise XOR
# 2 -> 010
# 3 -> 011
#    ------
#      001
#       =1
print(2 ^ 3)

# Bitwise NOT
print(~3)

# Bitwise Left Shift
print(4 >> 2)

# Bitwise Right Shift
print(5 >> 2)

2
3
1
-4
1
1

# Assignmemnt Operators

In [ ]:
# Assignment Operator
# =

# a = 2
a = 2
print(a)

# a = a % 2
a %= 2
print(a)

# This is not allowed -->  Due to ambuigty
# a++ ++a --> Not allowed in Python

2
0

# Membership Operators

In [ ]:
# Membership Operators
# two types of operator are there --> in and not in

# in
print('D' in 'Delhi')
print('B' in 'Bijay')

# not in
print('D' not in 'Delhi')
print('B' not in 'Bijay')


# Works in every Data Types_List, Set, Tuple, Dictionary
print(1 in [2,3,4,5,6,7])

print(1 in (1,2,3,4,5))

True
True
False
False
False
True

In [ ]:
# Program - Find The sum of a 3 digit number entered by the user

# take input from user
num= int(input('Enter three digit numbers:'))

a=num%10
num = num//10

b=num%10
num=num//10

c=num%10
num=num//10

print(a+b+c)

Enter three digit numbers:567
18

# If-else in Python

In [1]:
# login program and identification

# We assue one email and password & write the program
# email: bijayrauniyar90@gmail.com
# password: aang

email = input('Enter Email ')
password = input('Enter password ')

# if(condition){
#     code
# }

# else{
#     code
# }

# Well intentation code
if email == 'bijayrauniyar90@gmail.com' and password == 'aang':
  print('Welcome')

else:
  print('Not correct')

Enter Email bijayrauniyar90@gmail.com
Enter password aang
Welcome

In [3]:
# elif condition
# Real Life Example

email = input('Enter email address: ')
password = input('Enter password: ')

if email == 'bijayrauniyar90@gmail.com' and password == 'aand':
  print('Welcome');

elif email == 'bijayrauniyar90@gmail.com' and password !='aang':
  print('Incorrect Password')
  password=input('Enter password again!')

  if password == 'aang':
    print("Welcome, Finally")
  else:
    print("Incorrect again:")

else:
  print('Incorrect Credentials')

Enter email address: bijayrauniyar90@gmail.com
Enter password: aang12
Incorrect Password
Enter password again!aang
Welcome, Finally