# Operators in Python

* Arithemetic Operators
* Relational Operators
* Logical Operators
* Bitwise Operators
* Assignmemnt Operators
* Membership Operators

# Arithemetic Operators

In [3]:
# Arithemetic Operators
print(5 + 6)

print(5 - 6)

print(5 * 6)

print(5 / 2)

# It will give integer value only
print(5 // 2)

# modulus operator - It will give remainder
print(5 % 2)

# Power of operator
# 5^2
print(5 ** 2)

11
-1
30
2.5
2
1
25

# Relational Operators

In [4]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

# Logical Operators

In [5]:
# Logocal Operators

print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

# Bitwise Operators

In [10]:
# Bitwise Operators
# Bitwise AND , OR, NOR, XOR, LShift, RShift

# Bitwise and
# 2 -> 010
# 3 -> 011
#     ------
#      010
#      =2
print(2 & 3)

# Bitwise or
print(2 | 3)

# Bitwise XOR
# 2 -> 010
# 3 -> 011
#    ------
#      001
#       =1
print(2 ^ 3)

# Bitwise NOT
print(~3)

# Bitwise Left Shift
print(4 >> 2)

# Bitwise Right Shift
print(5 >> 2)

2
3
1
-4
1
1

# Assignmemnt Operators

In [12]:
# Assignment Operator
# =

# a = 2
a = 2
print(a)

# a = a % 2
a %= 2
print(a)

# This is not allowed -->  Due to ambuigty
# a++ ++a --> Not allowed in Python

2
0

# Membership Operators

In [20]:
# Membership Operators
# two types of operator are there --> in and not in

# in
print('D' in 'Delhi')
print('B' in 'Bijay')

# not in
print('D' not in 'Delhi')
print('B' not in 'Bijay')


# Works in every Data Types_List, Set, Tuple, Dictionary
print(1 in [2,3,4,5,6,7])

print(1 in (1,2,3,4,5))

True
True
False
False
False
True